<app-home></app-home>
<div class="content">
    <div style="margin-left: 20%;margin-top: 3%;">
        <mat-label style="margin-left:15%;color: blue;font-size: 20px;"> Author Registration Form</mat-label>
        <form [formGroup]="myForm" class="example-form" style="max-width: 100%;margin-top:2%;">
            <div class="form-group">

                <div style="width:80%">
                    <mat-label style="margin-left: 7%;">Profile Picture</mat-label>
                    <img [src]="imageSrc" *ngIf="imageSrc" alt="Cover Photo" class="responsive"
                        style="box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
                    <input
                        style="margin-left:7%;width:50%;color:white;background-color:rgb(137, 137, 255);margin-top: 20px;margin-bottom: 20px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;"
                        formControlName="file" id="file" type="file" class="form-control"
                        (change)="onFileChange($event)">

                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger"
                        style="margin-left:7%;width: 50%;">
                        <div *ngIf="f.file.errors.required">Profile picture is required.</div>
                    </div>
                </div>
            </div>
        </form>

        <br>
        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Name</mat-label>
            <input matInput placeholder="Noam Chomsky" [(ngModel)]="json.name" required>
        </mat-form-field>
        <br>

        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Sort</mat-label>
            <input matInput placeholder="Chomsky, Noam" [(ngModel)]="json.sort">
        </mat-form-field>
        <br>

        <mat-form-field style="width: 40%; margin-left: 5%;">
            <mat-label style="font-weight: bold;">Choose Author Type</mat-label>
            <select matNativeControl required [(ngModel)]="json.authorType" [value]="json.authorType">
                <option value="local">LOCAL</option>
                <option value="international" selected>INTERNATIONAL</option>

            </select>
        </mat-form-field>

        <div style="margin-left: 15%;margin-bottom: 10%;">
            <button mat-button (click)="cancel()" style="margin-left: 10px;">Cancel</button>
            <button class="mat-raised-button mat-primary" (click)="save()" style="margin-left: 20px;">Submit</button>
        </div>


    </div>
</div>