<app-home></app-home>
<div class="content">
    <div style="margin-left: 20%;margin-top: 3%;">
        <mat-label style="margin-left:28%;color: blue;font-size: 20px;"> Book Registration Form</mat-label>
        <br>
        <img [src]="imageSrc" *ngIf="imageSrc" alt="Cover Photo" class="responsive"
        style="box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
  
        <div class="row" style="width: 100%;margin-left: 7%;">
          
            <form [formGroup]="myForm" class="example-form" style="width: 30%;">
                <div class="form-group">
                    <mat-label>Cover Photo & PDF File</mat-label>

                    <input
                        style="width:100%;color:white;background-color:rgb(137, 137, 255);margin-top: 20px;margin-bottom: 20px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;"
                        formControlName="file" id="file" type="file" class="form-control"
                        (change)="onFileChange($event)">

                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger" style="width: 100%;">
                        <div *ngIf="f.file.errors.required">Cover Photo is required.</div>
                    </div>
                </div>
            </form>

            <form [formGroup]="pdfForm" class="example-form" style="width: 30%;margin-top: 2%;">
                <div class="form-group">
                    <input
                        style=" margin-left:20%;width:100%;color:white;background-color:rgb(137, 137, 255);margin-top: 20px;margin-bottom: 20px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;"
                        formControlName="file" id="file" type="file" class="form-control"
                        (change)="onPdfChange($event)">


                    <div *ngIf="pdfF.file.touched && pdfF.file.invalid" class="alert alert-danger"
                        style="width: 100%;margin-left: 20%;">
                        <div *ngIf="pdfF.file.errors.required">Pdf File is required.</div>
                    </div>
                </div>
            </form>

        </div>
        <mat-form-field class="mat">
            <mat-label>Call Number</mat-label>
            <input matInput placeholder="Ex. 1956.1" required [(ngModel)]="json.callNumber">
        </mat-form-field>

        <mat-form-field class="mat">
            <mat-label>ISBN</mat-label>
            <input matInput placeholder="Ex. 978-3-16-148410-0" [(ngModel)]="json.ISBN">
        </mat-form-field>

        <mat-form-field class="mat">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Ex. The Sun Also Rises" required [(ngModel)]="json.title">
        </mat-form-field>

        <mat-form-field class="mat">
            <mat-label>Sort</mat-label>
            <input matInput placeholder="Ex. The Sun Also Rises" [(ngModel)]="json.sort">
        </mat-form-field>

        <mat-form-field class="mat">
            <mat-label>Edition</mat-label>
            <input matInput placeholder="First" required [(ngModel)]="json.edition">
        </mat-form-field>
        <mat-form-field class="mat">
            <mat-label>Volume</mat-label>
            <input matInput placeholder="3" required [(ngModel)]="json.volume">
        </mat-form-field>
        <mat-form-field class="mat">
            <mat-label>Series Index</mat-label>
            <input matInput placeholder="1.0" required [(ngModel)]="json.seriesIndex">
        </mat-form-field>

        <mat-form-field class="mat" color="accent">
            <input matInput [matDatepicker]="picker1" placeholder="Published Date" [(ngModel)]="json.publishedDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <label class="container">Download Approval
            <input type="checkbox" [(ngModel)]="json.downloadApproval">
            <span class="checkmark"></span>
        </label>



        <mat-form-field style="margin-left: 10%;width: 50%;">
            <mat-label> Author</mat-label>
            <input matInput placeholder="Search Here" [(ngModel)]="authorTerm">
        </mat-form-field>

        <form [formGroup]="authorForm" style="margin-left: 10%;">

            <div class="form-group">
                <div style="width: 55%;overflow: auto; height:250px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>

                                <th scope="col" style="width: 50%;">Profile</th>
                                <th scope="col">Type</th>
                                <th scope="col">Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of authors | filter:authorTerm;">
                                <td>
                                    <input type="checkbox" value="{{item.boId}}"
                                        (change)="onAuthorsCheckboxChange($event)">
                                </td>
                                <td style="width: 50%;">
                                    <img class="profile" src="http://localhost:8080/{{item.profilePicture}}"
                                    alt="W3Schools.com">
                                </td>
                                <td>{{item.authorType}}</td>
                                <td>{{item.name}}
                                </td>

                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <mat-form-field style="margin-left: 10%;width: 50%;">
            <mat-label> Categories</mat-label>
            <input matInput placeholder="Search Here" [(ngModel)]="term">
            <!-- <div *ngIf="categoryF.file.touched && categoryF.file.invalid" class="alert alert-danger"
                        style="width: 100%;margin-left: 20%;">
                <div *ngIf="categoryF.file.errors.required">Category is required.</div>
            </div> -->
        </mat-form-field>

        <form [formGroup]="form" style="margin-left: 10%;">

            <div class="form-group">
                <div style="width: 55%;overflow: auto; height:150px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>

                                <th scope="col">Myanmar Name</th>
                                <th scope="col">English Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of categories | filter:term;">
                                <td>
                                    <input type="radio" name="category" value="{{item.boId}}" formControlName="category"
                                        (change)="changeCategory($event)">
                                </td>
                                <td>{{item.myanmarName}}
                                <td>{{item.engName}}
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <mat-form-field style="margin-left: 10%;width: 50%;">
            <mat-label>Sub-Categories</mat-label>
            <input matInput placeholder="Search Here" [(ngModel)]="subCategoryTerm">
        </mat-form-field>

        <form [formGroup]="subCategoryform" style="margin-left: 10%;">

            <div class="form-group">
                <div style="width: 55%;overflow: auto; height:150px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of subcategories | filter:subCategoryTerm;">
                                <td>
                                    <input type="radio" name="subcategory" value="{{item.boId}}"
                                        formControlName="subcategory">
                                </td>
                                <td>{{item.name}}
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>


        <mat-form-field style="margin-left: 10%;width: 50%;">
            <mat-label> Publisher</mat-label>
            <input matInput placeholder="Search Here" [(ngModel)]="publisherTerm">
        </mat-form-field>

        <form [formGroup]="publisherForm" style="margin-left: 10%;">

            <div class="form-group">
                <div style="width: 55%;overflow: auto; height:200px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>

                                <th scope="col">Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of publishers | filter:publisherTerm;">
                               
                                <td>
                                    <input type="checkbox" value="{{item.boId}}"
                                        (change)="onPublishersCheckboxChange($event)">
                                </td>
                                <td>{{item.name}}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <div class="md-form" style="margin-left:4.2%;width:70%">
            <textarea placeholder="Fill Description" type="text" id="form8" class="md-textarea form-control" mdbInput
                [(ngModel)]="json.description"></textarea>
        </div>


        <div style="margin-left: 24%;margin-bottom: 10%;">
            <button mat-button (click)="cancel()" style="margin-left: 10px;">Cancel</button>
            <button class="mat-raised-button mat-primary" (click)="save()" style="margin-left: 20px;">Save</button>
        </div>


    </div>
</div>