
.content {
  margin-left: 13.5%;
  width: 84%;
  height: auto;
}

.mat-datepicker-content .mat-calendar{
    font-size:14px;
}

.responsive {
  margin-left: 28%;
  width: 20%;
  height: auto;
  margin-top: 2%;
}

.mat{
  margin-left:6.8%;
  width: 30%
}


th {
    font-size: 15px;
}

td {
    font-size: 13px;
}

tbody tr.active {
  background-color: #4CAF50;
  color: white;
}


tbody tr:hover:not(.active) {
  color: blue;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.container {
  margin-left: 30%;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 22px;
  background-color: rgb(137, 137, 255);
}

.container:hover input ~ .checkmark {
  background-color: rgb(137, 137, 255);
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


