<app-home></app-home>
<div style="margin-left:20%;padding-top: 50px;">
    <mat-label style="color: blue;font-size: 19px;font-weight: bold;"> Feedback List</mat-label>
    <div style="height: 600px;overflow-y: auto;width:95%;overflow-x:auto;padding-top: 10px;">
        <table class="table table-striped table-condensed table-hover tblborder">
            <thead>

                <tr>
                    <th scope="col" style="width: 5%;text-align: left;">Message</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let item of feedbacks" id="replyRow">
                    <td (click)="changeColor($event)">

                        <i id="reply" value="{{item.boId}}" (click)="reply($event)">{{item.message}}</i>

                    </td>

                    <!-- <span #Reply (click)="reply(Reply)">{{item.boId}}</span> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="replied == 'true' " style="padding-top: 20px;">

    <form [formGroup]="replyForm" style="width: 60%;margin-left:40%;">
        <mat-label style="margin-left:28%;color: blue;font-size: 18px;"> Reply</mat-label>
        <div style="margin-top:10px;"></div>
        <div class="form-group">
            <textarea #replyInput style="width: 60%;" formControlName="message" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
            <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                <div *ngIf="f.message.errors.required">Field is required</div>
            </div>
        </div>
        <div style="padding-top: 20px;margin-left: 20%;">

            <button class="btn btn-primary" (click)="save()" style="border-radius: 5px;">Submit</button>
            <button class="btn btn-primary" (click)="cancel($event)"
                style="margin-left: 20px;border-radius: 5px;">Cancel</button>

        </div>
    </form>
</div>