<div class="login-nav-header">
    <div class="row" style="padding: .5% 0% .5% 1%;">
        <div class="col-3" style="text-align: right;">
            <img src="assets/images/e.png" style="width:90px;">
        </div>

        <div class="col-6" style="padding: 1% 0% 0% 0%;">
            <h5 style="margin-left:2%;color: white;  font-weight: 700;font-size:20px;">LIBRARY MANAGEMENT SYSTEM
            </h5>
            <span style="margin-left:5%;color: white;">Pyidaungsu Hlattaw</span>
        </div>
    </div>
</div>