<!-- <app-home></app-home>

    <div class="content1">

        <div style="position: absolute;width: 30%;">
        <mat-form-field style="margin-left: 5%;width: 50%;margin-top: 2%;">
            <mat-label> Book</mat-label>
            <input matInput placeholder="Search Here" [(ngModel)]="term">
        </mat-form-field>

        <form [formGroup]="form" style="margin-left: 5%;">

            <div class="form-group">
                <div style="width: 60%;overflow: auto; height:auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Profile</th>
                                <th scope="col">Title</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of books | filter:term;" [routerLink]="['/editbook/', item.boId]">
                                <td>
                                    <img class="profile" src="{{'http://localhost:8080' + item.coverPhoto}}"
                                        alt="W3Schools.com">
                                </td>
                                <td>{{item.title}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div> -->
<app-home></app-home>

<div class="content">
    

</div>