


li i:hover:not(.active) {
  color: black;
}

li i.active {
  background-color: #4CAF50;
  color: white;
}

li i {
  color: blue;
}

li{
   background-color: #EBF4FA;
   
}


td i:hover:not(.active) {
  color: black;
}

td i.active {
  background-color: #4CAF50;
  color: white;
}

td i {
  color: blue;
}

td{
   background-color: #EBF4FA;
   
} 

.content {
  margin-left: 14%;
  width: 84%;
  background-color: #EBF4FA;
  border: 2px solid #CFECEC; 
  height: 100%;
}






