<app-home></app-home>
<div class="content">
    <div style="margin-left: 30%;margin-top: 3%;">
        <p style="margin-left: 5%;color: blue;">Sub-Category Edit Form</p>

        <mat-form-field style="width: 40%;">
            <input matInput placeholder="For eg. Eduction" [(ngModel)]="json.name">
        </mat-form-field>



    <div style="margin-left: 5%;">
        <button mat-button (click)="cancel()" style="margin-left: 10px;">Cancel</button>
        <button class="mat-raised-button mat-primary" (click)="save()" style="margin-left: 20px;">Submit</button>
    </div>
    </div>
</div>