<app-home></app-home>
<div class="content">
    <div style="margin-left: 30%;margin-top: 3%;">
        <p style="margin-left: 5%;color: blue;">Sub-Category Edit Form</p>
        <mat-form-field class="mat" style="width: 40%;">
            <mat-label style="font-weight: bold;">Choose Categories</mat-label>

            <select matNativeControl required [(ngModel)]="json.categoryBoId">
                <option *ngFor="let item of categories" [value]="item.boId"
                    [selected]="item.boId === json.categoryBoId">{{item.myanmarName}}({{item.engName}})</option>
            </select>
        </mat-form-field>
        <br>

        <mat-form-field style="width: 40%;">
            <input matInput placeholder="ပညာေ၇း" [(ngModel)]="json.myanmarName">
        </mat-form-field>
        <br>
        <mat-form-field style="width: 40%;">
            <input matInput placeholder="For eg. Eduction" [(ngModel)]="json.engName">
        </mat-form-field>
        <div *ngIf="loading == 'true'" style="margin-left: 8%;" class="lds-default">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br>
        <mat-form-field class="mat" style="width: 40%;">
            <mat-label> Priority</mat-label>
            <input matInput placeholder="1 (ASC)" [(ngModel)]="json.priority" required (keyup)="searchKeyup($event)">
        </mat-form-field>     

    </div>

    <div style="margin-left: 10%;" *ngIf="books.length >0">
        <mat-form-field class="mat" style="width: 40;margin-left: 3%;">
            <mat-label> Search Here </mat-label>
            <input matInput placeholder="Book" [(ngModel)]="term">
        </mat-form-field>
        <span style="color:blue;font-weight: bold;" colspan="12">Book List<span style="margin-left: 2%;"
                class="badge list test">{{books.length}}</span>
        </span>
        <div style="height: 300px; width:90%;overflow-y: auto;overflow-x:auto; ">
            <table class="table table-striped table-condensed table-hover tblborder">

                <thead>
                    <tr>
                        <th style="width: 5%;text-align: left;">Edit</th>
                        <th style="width: 10%;text-align: left;">BookTitle </th>
                        <th style="width: 10%;text-align: left;">Accession No</th>
                        <th style="width: 10%;text-align: left;">State</th>
                        <th style="width: 10%;text-align: left;">Created Date</th>
                        <th style="width: 10%;text-align: left;">Size</th>
                        <th style="width: 10%;text-align: left;">Download Approval</th>
                        <th style="width: 5%;text-align: left;">Delete</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let obj of books | filter:term;">
                        <td style="width: 5%;text-align: left;">
                            <i style="margin-left:12%" value="{{obj.boId}}" [routerLink]="['/editbook/', obj.boId]"
                                class="fa fa-pencil-square-o" aria-hidden="true"></i>

                        </td>
                        <td at-implicit at-sortable at-attribute style="width: 10%;text-align: left;">{{obj.title}}</td>
                        <td style="width: 10%;text-align: left;">{{obj.callNo}}</td>
                        <td style="color: blue;" style="width: 10%;text-align: left;">{{obj.state}}</td>
                        <td style="width: 10%;text-align: left;"> {{obj.createdDate}}</td>
                        <td style="width: 10%;text-align: left;">{{obj.size}}</td>

                        <td style="width: 10%;text-align: left;">
                            <input style="text-align: center;" type="checkbox" [(ngModel)]="obj.downloadApproval">

                        </td>

                        <td style="width: 5%;text-align: left;">
                            <i style="margin-left:12%" value="{{obj.boId}}" (click)="deleteBook($event)"
                                class="fa fa-trash" aria-hidden="true"></i>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div style="margin-left: 30%;">
        <button mat-button (click)="cancel()">Cancel</button>
        <button style="margin-left: 5%;" class="mat-raised-button mat-primary" (click)="save()">Submit</button>
        <button style="margin-left: 5%;" class="mat-raised-button mat-primary" (click)="delete()">Delete</button>
    </div>
</div>