<app-home></app-home>
<div class="content">
    <div style="margin-left: 30%;margin-top: 3%;">
        <p style="margin-left: 5%;color: blue;">Sub-Category Edit Form</p>

        <mat-form-field style="width: 40%;">
            <input matInput placeholder="ပညာေ၇း" [(ngModel)]="json.myanmarName">
        </mat-form-field>
        <br>
        <mat-form-field style="width: 40%;">
            <input matInput placeholder="For eg. Eduction" [(ngModel)]="json.engName">
        </mat-form-field>
        <br>
        <mat-form-field class="mat" style="width: 40%;">
            <mat-label> Priority</mat-label>
            <input matInput placeholder="1 (ASC)" [(ngModel)]="json.priority" required>
        </mat-form-field>
        <br>
        <mat-form-field class="mat" style="width: 40%;">
            <mat-label style="font-weight: bold;">Choose Categories</mat-label>
            <select matNativeControl required [(ngModel)]="category.boId" >
                <option *ngFor="let item of categories" [value]="item.boId" [selected]="item.boId === json.category.boId">{{item.myanmarName}}({{item.engName}})</option>   

            </select>
        </mat-form-field>
        <div>
            <button mat-button (click)="cancel()">Cancel</button>
            <button class="mat-raised-button mat-primary" (click)="save()">Submit</button>
        </div>
    </div>
</div>
