<app-header></app-header>
<div id="divbox">

    <i class="fa fa-users icon" aria-hidden="true"></i>
    <br>
    <span class="mb">Member Login</span>

    <div align="center">
        <span *ngIf="_result !=null" class="label" style="color: red;">{{_result}} </span>
    </div>

    <div *ngIf="loading" class="lds-default" style="margin-left: 17%;margin-top: 15%;">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="inputWithIcon" style="margin-top:2%;">
        <input type="text" autofocus style="font-family:  fantasy;font-size:16px" placeholder="Email ID"
            [(ngModel)]="email">
        <i style="font-size: 15px;margin-left: 3%;" class="fa fa-user" aria-hidden="true"></i>

    </div>
    <div class="inputWithIcon">
        <input type="password" style="font-family:  fantasy;font-size:15px" placeholder="Password"
            (keyup)="searchKeyup($event)" [(ngModel)]="password">
        <i style=" font-size: 15px;margin-left: 3%;" class="fa fa-lock" aria-hidden="true"></i>
    </div>

    <div class="forgot">
        <div class="row" >
            <div class="fullwidth">
                <input type="checkbox" checked onclick="return false;">
                <span style="margin: 0% 0% 0% 2%;color: blue;font-size:15px;font-family: fantasy">Remember me</span>
            </div>
            <div class="fullwidth">
                <input type="checkbox" onclick="return false;">
                <span
                    style="cursor:pointer; text-decoration: underline;color: blue;font-size:15px;font-family: fantasy;margin-left: 2%;"
                    (click)="goForgotPwd()">Forgot Password?</span>
            </div>
        </div>
    </div>

    <button class="button" (click)="goPost()">Sign in</button>

    <br>
    <span class="register">Don't have an account?</span>
    <span style="margin:0% 0% 0% 2%;color: rgb(87, 212, 87);font-size:15px;font-family: fantasy">Contact Admin!</span>

</div>