 
input[type="text"] {
  margin-left: 10%;
  width: 100%;  
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0px 0;
  outline: none;
  padding: 12px 15px;
  box-sizing: border-box;
  transition: 0.3s;
}