<app-home></app-home>
<div class="cardview">
        <div clas="row col-md-12">
            <h2>User Upload Form</h2>
        </div> 
        <div class="row  col-md-12">    
            <button class="btn btn-primary" type="button"  (click)="goSave()">Save</button>
        </div>
        <div class="col-md-10" style="margin-bottom: 20px;float:right">  
            <input type="file" (change)="onFileChange($event)" mutiple='false' /> 
        </div>
        <div class="col-md-12" style="overflow-x:auto" *ngIf="data.length > 0">
            <table class="table table-striped table-condensed table-hover tblborder">
                <section class="example-section">
                    <thead>
                    <tr>
                        <th style="vertical-align:top;">
                            <input type='checkbox' (change)="selectAllChk($event.target.checked)">
                        </th>
                        <th>Name </th>
                        <th>Email </th>      
                        <th>Phone No</th> 
                        <th>Hluttaw</th> 
                        <th>Department</th> 
                        <th>Position</th> 
                        <th>Type</th>  
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let obj of userArrayList.userArray; let j= index">
                        <td>
                            <span><input class="chkBoxs" type='checkbox' [(ngModel)]="obj.flag" [ngModelOptions]="{standalone: true}" (change)="changeType($event,obj,j)"></span>
                        </td>
                        <td>{{obj.name}}</td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.phoneNo}}</td>
                        <td>{{obj.hlutawType}}</td>
                        <td>{{obj.deptType}}</td>
                        <td>{{obj.positionType}}</td>
                        <td>{{obj.type}}</td>
                    </tr>  
                    </tbody>
                </section>
            </table>
        </div>
</div>