<app-header></app-header>
<div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  column col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                <form class="form-horizontal" (ngSubmit)="goChangePwd()">
                    <div class="card card-container" style="max-height: 500px;">
                        <div class="row col-md-12">&nbsp;</div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  column col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                                <h2 style="text-align:center;">Change Password</h2>
                            </div>
                        </div>
    
                        <div style="margin-bottom: 30px">
                            <div >
                                <label>Old Password</label>
                                <input id="oldpwd" class="form-control" Required type="password" [(ngModel)]="oldpwd" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>

                        <div style="margin-bottom: 30px">
                            <div >
                                <label>New Password</label>
                                <input id="newpwd" class="form-control" Required type="password" [(ngModel)]="newpwd" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>

                        <div style="margin-bottom: 30px">
                            <div >
                                <label>Confirm New Password</label>
                                <input id="newpwd1" class="form-control" Required type="password" [(ngModel)]="newpwd1" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        
    
                       <div  align="center" style="margin-bottom: 1rem;">
                            <button class="btn input-sm btn-primary btn-block" style="width:91%" type="submit">Done</button>
                        </div>
                        <div align="center">
                            <span *ngIf="_result !=null" class="text" style="color: red;">{{_result}} </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>