<app-home></app-home>
<div class="content">
    <div style="margin-left: 20%;margin-top: 3%;">
        <p style="margin-left: 5%;color: blue;">Publisher Edit Form</p>

        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Name</mat-label>
            <input matInput placeholder="Noam Chomsky" [(ngModel)]="json.name" required (keyup)="searchKeyup($event)">
        </mat-form-field>
        <br>

        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Sort</mat-label>
            <input matInput placeholder="Chomsky, Noam" [(ngModel)]="json.sort" (keyup)="searchKeyup($event)">
        </mat-form-field>
        <br>

        <div style="margin-left: 12%;margin-bottom: 10%;">
            <button mat-button (click)="cancel()" style="margin-left: 10px;">Cancel</button>
            <button class="mat-raised-button mat-primary" (click)="save()" style="margin-left: 20px;">Submit</button>
            <button style="margin-left: 5%;" class="mat-raised-button mat-primary" (click)="delete()">Delete</button>
        </div>
    </div>
</div>