<app-home></app-home>
<div class="content">
    <div style="margin-left: 20%;margin-top: 3%;">
        <p style="margin-left: 5%;color: blue;">Category Form</p>

        <mat-form-field class="mat" style="width: 40%; margin-left: 5%">
            <mat-label> Sub-Categories</mat-label>
            <input matInput placeholder="Search Here" [(ngModel)]="term">
        </mat-form-field>


        <form [formGroup]="form">

            <div class="form-group">
                <div style="width: 40%;overflow: auto; height:300px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th scope="col">Myanmar Name</th>
                                <th style="width: 40%;" scope="col">English Name</th>
                                <th *ngIf="userRole == 'Admin'" scope="col">Display</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of subcategories | filter:term;">
                                <td>
                                    <input type="checkbox" value="{{item.boId}}" (change)="onCheckboxChange($event)">
                                </td>
                                <td>{{item.myanmarName}}</td>
                                <td>{{item.engName}}</td>
                                <td *ngIf="userRole == 'Admin'">
                                    <input type="checkbox" value="{{item.boId}}" (change)="onCheckboxSelection($event)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>


        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Category (Myanmar)</mat-label>
            <input matInput placeholder="မြန်မာစာအုပ်များ" [(ngModel)]="myaName" required>
        </mat-form-field>


        <br>
        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Category (English)</mat-label>
            <input matInput placeholder="Myanmar books" [(ngModel)]="engName" required>
        </mat-form-field>
        <br>
        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Priority</mat-label>
            <input matInput placeholder="1 (ASC)" [(ngModel)]="priority" required (keyup)="searchKeyup($event)">
        </mat-form-field>

        <div style="margin-left: 12%;">
            <button mat-button (click)="cancel()" style="margin-left: 10px;">Cancel</button>
            <button class="mat-raised-button mat-primary" (click)="save()" style="margin-left: 20px;">Submit</button>
        </div>

    </div>
</div>