


.content {
  margin-left: 217px;
  width: 84%;
  height: 1000px;
}

div {
    margin-top: 20px;
    margin-left: 30px;
}

th {
    font-size: 15px;
}

td {
    font-size: 13px;
}

tbody tr.active {
  background-color: #4CAF50;
  color: white;
}


tbody tr:hover:not(.active) {
  color: blue;
}


