


li i:hover:not(.active) {
  color: black;
}

li i.active {
  background-color: #4CAF50;
  color: white;
}

li i {
  color: blue;
}

li{
   background-color: #EBF4FA;
   
}


td i:hover:not(.active) {
  color: black;
}

td i.active {
  background-color: #4CAF50;
  color: white;
}

td i {
  color: blue;
}

td{
   background-color: #EBF4FA;
   
}
 

.content {
  margin-left: 14%;
  width: 84%;
  background-color: #EBF4FA;
  border: 2px solid #CFECEC; 
  height: 1000px;
}

div {
    margin-top: 20px;
    margin-left: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat{
width: 20%;
}

.file-select-button, .file-name {
  display: inline-block;
  margin: 8px;
}


.responsive {
  width: 100%;
  height: auto;
}

.list {
   background-color:blue;
}

.list:hover:not(.active) {
  color: black;
}

.list.active {
  background-color: #4CAF50;
  color: white;
}


.profile {
  width: 23%;
  height: 40px;
  border-radius: 50%;
}




