

.content {
  margin-left: 217px;
  width: 84%;
  background-color: #EBF4FA;
  border: 2px solid #CFECEC; 
  height: 1000px;
}

div {
    margin-top: 20px;
    margin-left: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat{
width: 20%;
}

.file-select-button, .file-name {
  display: inline-block;
  margin: 8px;
}


.responsive {
  width: 100%;
  height: auto;
}
