<app-home></app-home>


<div class="content">
    <div>
        <ul class="list-group" style="width: 80%;">
            <li class="list-group-item"><span style="margin-left:5%">Book </span>
                <i style="margin-left:14%" class="fa fa-plus" aria-hidden="true" [routerLink]="['/addbook']"></i>
                <i style="margin-left:12%" class="fa fa-trash" aria-hidden="true"></i>
                <i style="margin-left:12%" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span class="badge">12</span></li>

            <li class="list-group-item"><span style="margin-left:5%">Author</span>
                <i style="margin-left:13.4%" class="fa fa-plus" aria-hidden="true" [routerLink]="['/addauthor']"></i>
                <i style="margin-left:12%" class="fa fa-trash" aria-hidden="true"></i>
                <i style="margin-left:12%" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span class="badge">12</span></li>

            <li class="list-group-item"><span style="margin-left:5%">Publisher</span>
                <i style="margin-left:11.8%" class="fa fa-plus" aria-hidden="true" [routerLink]="['/addpublisher']"></i>
                <i style="margin-left:12%" class="fa fa-trash" aria-hidden="true"></i>
                <i style="margin-left:12%" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span class="badge">12</span></li>

            <li class="list-group-item"><span style="margin-left:5%">Category</span>
                <i style="margin-left:12%" class="fa fa-plus" aria-hidden="true" [routerLink]="['/addcategory']"></i>
                <i style="margin-left:12%" class="fa fa-trash" aria-hidden="true"></i>
                <i style="margin-left:12%" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span class="badge">12</span></li>

            <li class="list-group-item"><span style="margin-left:5%">Sub-Category</span>
                <i style="margin-left:9.2%" class="fa fa-plus" aria-hidden="true"
                    [routerLink]="['/addsubcategory']"></i>
                <i style="margin-left:12%" class="fa fa-trash" aria-hidden="true"></i>
                <i style="margin-left:12%" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span class="badge">12</span></li>

        </ul>
   
    </div>
</div>