<div class="container col-md-12">
    <div id="snackbar" [hidden]="_alertflag">{{_alertmsg}}</div>
</div>
<div (keyup)="docChanges('keyup')" (keydown)="docChanges('keydown')" (click)="docChanges('click')" (DOMMouseScroll)="docChanges('DOMMouseScroll')"
  (mousewheel)="docChanges('mousewheel')" (mousedown)="docChanges('mousedown')" (touchstart)="docChanges('touchstart')" (touchmove)="docChanges('touchmove')"
  (scroll)="docChanges('scroll')" (focus)="docChanges('focus')">

<router-outlet></router-outlet>

<div id="timeoutalert" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Your session has expired</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
