<app-home></app-home>
<div class="cardview">
    <div class="row  col-md-12">    
        <button class="btn btn-primary" type="button"  (click)="goSave()">Save</button>
        <button class="btn btn-primary" type="button"  (click)="goBack()">Back</button>
    </div>
    <div class="col-md-12 formbr"></div>
    <div class = "col-md-12" style="overflow-x:auto">
        <mat-form-field *ngIf="formid == 'lov1'" style="width: 40%; margin-left: 5%;">
            <mat-label >Choose Hluttaw Type</mat-label>
            <select (change)="changeModule()" matNativeControl required [(ngModel)]="hlutawType">
                <option *ngFor="let item of lov.refHluttaw" value="{{item.value}}">{{item.caption}}</option>
            </select>
        </mat-form-field>
        <table class="table table-striped table-condensed table-hover tblborder">
            <thead>
                <tr>
                    <th>Code</th>
                    <th style="width: 30%;">Description</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of lov.ref">
                <tr  *ngIf="item.status !='INACTIVE'">
                    <td class="col-md-3">
                        <input required [(ngModel)]="item.code" type="text">
                    </td>
                    <td>
                        <input required [(ngModel)]="item.caption" type="text">
                    </td>
                    <td><img src="assets/images/remove.png" style="margin-top:13px;" (click)="goRemove(item.value)" alt="remove.png" height="20" width="20"/></td>
                </tr> 
            </tbody>
            <button class="btn btn-primary" type="button" (click)="addLov()">Add</button>
        </table>
    </div>
</div>