<app-home></app-home>
<div class="cardview">
        <div class="col-md-4" style="margin-bottom: 20px;">
            <h2 clas="col-md-12" >User List Form</h2>
            <div class="input-group">
                <span class="input-group-btn" >
                    <button class="btn btn-primary" type="button" (click)="goBack();">Back</button>
                </span>
                <input id="textinput" name="textinput" type="text" placeholder="Search" [(ngModel)]="jsonReq.searchText" (keyup)="searchKeyup($event)" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="Searching()" >
                <span class="glyphicon glyphicon-search"></span>Search
                </button>
                </span>        
            </div>
        </div> 
        <div class="col-md-12 filtersearch">
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>Hluttaw Type</mat-label>
                    <select (change)="changeHluttaw($event)" matNativeControl [(ngModel)]="jsonReq.text1">
                        <option *ngFor="let item of lov.refHluttaw" value="{{item.value}}">{{item.caption}}</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label >Department Type</mat-label>
                    <select (change)="changeDepartment($event)" matNativeControl [(ngModel)]="jsonReq.text2">
                        <option *ngFor="let item of lov.refDept" value="{{item.value}}">{{item.caption}}</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>Position</mat-label>
                    <select  (change)="changePosition($event)" matNativeControl [(ngModel)]="jsonReq.text3">
                        <option *ngFor="let item of lov.refPosition" value="{{item.value}}">{{item.caption}}</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="mat" color="accent">
                    <input matInput [max]="jsonReq.toDate" [matDatepicker]="picker1" placeholder="From Date" [(ngModel)]="jsonReq.fromDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="mat" color="accent">
                    <input matInput [min]="jsonReq.fromDate" [matDatepicker]="picker2" placeholder="To Date" [(ngModel)]="jsonReq.toDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-12" style="overflow-x:auto" *ngIf="userObj.length > 0">
            <table class="table table-striped table-condensed table-hover tblborder">
                <thead>
                <tr>
                    <th>Name </th>
                    <th>Email </th>      
                    <th>Phone No</th> 
                    <th>Hluttaw</th> 
                    <th>Department</th> 
                    <th>Position</th> 
                    <th>Role</th>
                    <th>Type</th>  
                    <th>Modified Date</th>   
                    <th>Status</th> 
                </tr>
                </thead>
                <tbody *ngFor="let obj of userObj">
                <tr (click)="goto(obj.boId)">
                    <td>{{obj.name}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.phoneNo}}</td>
                    <td>{{obj.hlutawName}}</td>
                    <td>{{obj.deptName}}</td>
                    <td>{{obj.positionName}}</td>
                    <td>{{obj.role}}</td>
                    <td>{{obj.type}}</td>
                    <td>{{obj.modifiedDate}}</td>
                    <td>{{obj.status}}</td>
                </tr>  
                </tbody>
            </table>
        </div>
        <div *ngIf="loading" class="lds-default" style="margin-top: 10%; margin-left: 30%;">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
</div>