/*#textinput{
margin-top: 4px;
}*/
.filtersearch .col-md-2{
margin-left:30px;
}
i:hover:not(.active) {
  color: black;
}

i.active {
  background-color: #4CAF50;
  color: white;
}

i {
  color: blue;
}
mat-form-field{
margin-right: 25px;
}
a {
  color: #007bff !important;
  cursor: pointer !important;
}

a:hover {
  color: #2d74fd !important;
}