<app-home></app-home>
<div class="cardview">
        <div class="col-md-12">
            <h2>User Management Form</h2>
        </div> 
        <div class="col-md-12" style="margin-bottom: 20px;">  
        <button class="btn btn-primary" type="button"  (click)="goNew()">New</button>
        <button class="btn btn-primary" type="button"  (click)="goSave()">Save</button>
        <button class="btn btn-primary" type="button"  (click)="goDelete()" [disabled]="deleteFlag">Delete</button>
        <button class="btn btn-primary" type="button"  (click)="goList()">List</button>
        <button class="btn btn-primary" type="button"  (click)="goUpload()">Upload</button>
    </div>
    <div class="form">
    <div class="row col-md-12" style="margin-left: 3%;" >
        <div *ngFor="let item of lov.refStatus" style="margin-right: 10px;">
            <label class="radio-inline">
            <input #c [checked]="json.status == c.value" (click)="json.status = c.value" type="radio" name="_encashobj.field1" value="{{item.value}}">{{item.caption}}</label>
        </div>
    </div>
    <div class="col-md-12 row">
        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Name</mat-label>
            <input matInput placeholder="Noam Chomsky" [(ngModel)]="json.name" required>
        </mat-form-field>
        <br>

        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Email</mat-label>
            <input matInput placeholder="aaa@gmail.com" [(ngModel)]="json.email" [disabled]="emailFlag" required>
        </mat-form-field>

        <mat-form-field class="mat" style="width: 40%; margin-left: 5%;">
            <mat-label> Phone No</mat-label>
            <input matInput placeholder="09...." [(ngModel)]="json.phoneNo" required>
        </mat-form-field>

        <mat-form-field style="width: 40%; margin-left: 5%;">
            <mat-label >Choose User Role</mat-label>
            <select  matNativeControl required [(ngModel)]="json.roleType">
                <option *ngFor="let item of lov.refRole" value="{{item.value}}">{{item.caption}}</option>
            </select>
        </mat-form-field>

        <mat-form-field style="width: 40%; margin-left: 5%;">
            <mat-label >Choose User Level</mat-label>
            <select  matNativeControl required [(ngModel)]="json.type">
                <option *ngFor="let item of lov.refUserType" value="{{item.value}}">{{item.caption}}</option>
            </select>
        </mat-form-field>

        <mat-form-field style="width: 40%; margin-left: 5%;">
            <mat-label >Choose Hluttaw Type</mat-label>
            <select (change)="changeModule()" matNativeControl required [(ngModel)]="json.hlutawType">
                <option *ngFor="let item of lov.refHluttaw" value="{{item.value}}">{{item.caption}}</option>
            </select>
        </mat-form-field>
        
        <mat-form-field style="width: 35%; margin-left: 5%;" *ngIf="json.type == 'Staff'">
            <mat-label >Choose Department Type</mat-label>
            <select  matNativeControl required [(ngModel)]="json.deptType">
                <option *ngFor="let item of lov.refDept" value="{{item.value}}">{{item.caption}}</option>
            </select>
        </mat-form-field>
        <div (click)="goSetup('lov1')" *ngIf="json.type == 'Staff'"  style="margin-top: 16px;margin-left: 35px;">
            <i class="glyphicon glyphicon-plus-sign" style="font-size: 21px;color: #2e6da4;" aria-hidden="true"></i>
        </div>

        <mat-form-field style="width: 35%; margin-left: 5%;" *ngIf="json.type == 'Staff'">
            <mat-label >Choose Position</mat-label>
            <select  matNativeControl required [(ngModel)]="json.positionType">
                <option *ngFor="let item of lov.refPosition" value="{{item.value}}">{{item.caption}}</option>
            </select>
        </mat-form-field>
        <div (click)="goSetup('lov2')" *ngIf="json.type == 'Staff'" style="margin-top: 16px;margin-left: 35px;">
            <i class="glyphicon glyphicon-plus-sign" style="font-size: 21px;color: #2e6da4;" aria-hidden="true"></i>
        </div>
        <!-- <mat-form-field style="width: 40%; margin-left: 5%;">
            <mat-label >Choose Status</mat-label>
            <select  matNativeControl required [(ngModel)]="json.status">
                <option *ngFor="let item of lov.refStatus" value="{{item.value}}">{{item.caption}}</option>
            </select>
        </mat-form-field> -->
    </div>
    </div>
    <div *ngIf="loading" class="lds-default" style="margin-top: 10%; margin-left: 30%;">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</div>