<app-home></app-home>

<div class="content">
    <div class="row" style="margin-top: 2%;width: 100%;">
        <mat-label style="margin-left:15%;color: blue;font-size: 20px;"> Book Entries By Each Librarian</mat-label>
        <mat-label style="margin-left:23%;color: blue;font-size: 20px;"> Latest Popular Books</mat-label>
    </div>

    <div *ngIf="loading == true" style="margin-left: 33%;" class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div style="margin-left: 38%;display: none;" class="lds-default" id="loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="row">
        <div id="chart" style="margin-left: 10%;">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend"
                [colors]="chartOptions.colors" [grid]="chartOptions.grid"></apx-chart>
        </div>

        <div id="chart3" style="margin-top: 5%;margin-left: 12%;">
            <apx-chart [series]="chartOptions3.series1" [chart]="chartOptions3.chart" [labels]="chartOptions3.labels"
                [responsive]="chartOptions3.responsive"></apx-chart>
        </div>
    </div>

    <!-- ---------------------  books by popular  ---------------- -->   

    <p style="text-decoration: underline;margin-left:14.5%;display: none;" (click)="myFunction3()" id="status3">
        {{status3}}
    </p>

    <div style="margin-left:10%;display: none;max-height: 400px;" id="mydiv3">
        <mat-form-field color="accent" style="margin-left: 5%;">
            <input matInput [matDatepicker]="picker5" placeholder="From" [(ngModel)]="popularStartDate">
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent">
            <input matInput [matDatepicker]="picker6" placeholder="To" [(ngModel)]="popularEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
            <mat-datepicker #picker6 color="primary"></mat-datepicker>
        </mat-form-field>
        <i style="font-size: 28px;margin-left:3%;margin-top:1.3%; color: blue;" class="fa"
            (click)="exportPopularBooks()">&#xf1c3;</i>
        <form class="example" action="/action_page.php" style="margin:auto;width:90%">
            <div style="max-width: 300px;">
                <span class="badge list test" id="count3">Count</span>
                <br>

                <input type="text" placeholder="Search.." name="search2" [(ngModel)]="popularTerm">
                <button type="submit" (click)="search3()"><i class="fa fa-search"></i></button>
            </div>
            <div style="margin-top: 7%;height: 330px;overflow-y: auto;width:90%;overflow-x:auto;">
                <table class="table-striped table-condensed table-hover tblborder" id="myTable3">
                    <thead>
                        <tr id="mytitle1">
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">BookTitle </th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">class No.</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Accession No.</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Sub Category</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">State</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Created Date</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Size</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Download Approval</th>
                        </tr>
                    </thead>
                    <tbody id="mytbody3">
                    </tbody>
                    <tbody>
                        <tr *ngFor="let obj of books3">
                            <td style="width: 10%;text-align: left;">{{obj.title}}
                            </td>
                            <td style="width: 10%;text-align: left;">{{obj.callNo}}
                            </td>
                            <td style="width: 10%;text-align: left;">{{obj.accessionNo}}</td>
                            <td style="width: 10%;text-align: left;">{{obj.subCategory.myanmarName}}</td>
                            <td style="color: blue;" style="width: 10%;text-align: left;color: blue;">{{obj.state}}</td>
                            <td style="width: 10%;text-align: left;"> {{obj.createdDate}}</td>
                            <td style="width: 10%;text-align: left;">{{obj.size}}</td>
                            <td style="width: 10%;text-align: left;">
                                <input style="text-align: center;" type="checkbox">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top: 3%;margin-left: 40%;">
                <span id="firstPage3" style="text-decoration: underline;" (click)="first3()"></span> &nbsp;&nbsp;<i
                    style="font-size:14px" class="fa" id="icon1">&#xf101;</i>
                <span id="next3" style="text-decoration: underline;" (click)="next3()">&nbsp;&nbsp; Next &nbsp;&nbsp;
                </span><i style="font-size:14px" class="fa" id="icon2">&#xf101;</i>
                &nbsp;&nbsp; <span id="lastPage3" style="text-decoration: underline;" (click)="last3()"></span>
            </div>
        </form>
    </div>


    <!-- ---------------------  books by popular ---------------- -->

    <!-- ---------------------  books by librarian  ---------------- -->

    <p style="text-decoration: underline;margin-left:14.5%;display: none;margin-top:15%;" (click)="myFunction()" id="status">{{status}}
    </p>

    <div style="margin-left:10%;display: none;max-height: 700px;" id="mydiv">



        <mat-form-field color="accent" style="margin-left: 5%;">
            <input matInput [matDatepicker]="picker1" placeholder="From" [(ngModel)]="entryStartDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent">
            <input matInput [matDatepicker]="picker2" placeholder="To" [(ngModel)]="entryEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
        <i style="font-size: 28px;margin-left:3%;margin-top:1.3%; color: blue;" class="fa"
            (click)="exportEntry()">&#xf1c3;</i>

        <form class="example" action="/action_page.php" style="margin:auto;width:90%">
            <div style="max-width: 300px;">
                <span class="badge list test" id="count">Count</span>
                <br>


                <input type="text" placeholder="Search.." name="search2" [(ngModel)]="entryTerm">
                <button type="submit" (click)="search()"><i class="fa fa-search"></i></button>
            </div>

            <div style="margin-top: 5%;height: 500px;overflow-y: auto;width:90%;overflow-x:auto;">
                <table class="table-striped table-condensed table-hover tblborder" id="myTable">
                    <thead>
                        <tr id="mytitle2">
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">BookTitle </th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">class No.</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Accession No.</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Sub Category</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">State</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Created Date</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Size</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Download Approval</th>

                        </tr>
                    </thead>
                    <tbody id="mytbody">
                    </tbody>
                    <tbody>
                        <tr *ngFor="let obj of books">
                            <td style="width: 10%;text-align: left;">{{obj.title}}
                            </td>
                            <td style="width: 10%;text-align: left;">{{obj.callNo}}
                            </td>
                            <td style="width: 10%;text-align: left;">{{obj.accessionNo}}</td>
                            <td style="width: 10%;text-align: left;">{{obj.subCategory.myanmarName}}</td>
                            <td style="color: blue;" style="width: 10%;text-align: left;color: blue;">{{obj.state}}</td>
                            <td style="width: 10%;text-align: left;"> {{obj.createdDate}}</td>
                            <td style="width: 10%;text-align: left;">{{obj.size}}</td>
                            <td style="width: 10%;text-align: left;">
                                <input style="text-align: center;" type="checkbox">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top: 3%;margin-left: 40%;">
                <span id="firstPage" style="text-decoration: underline;" (click)="first()"></span> &nbsp;&nbsp;<i
                    style="font-size:14px" class="fa" id="icon5">&#xf101;</i>
                <span id="next" style="text-decoration: underline;" (click)="next()">&nbsp;&nbsp; Next &nbsp;&nbsp;
                </span><i style="font-size:14px" class="fa" id="icon6">&#xf101;</i>
                &nbsp;&nbsp; <span id="lastPage" style="text-decoration: underline;" (click)="last()"></span>
            </div>
        </form>
    </div>


    <!-- ---------------------  books by librarian ---------------- -->

    <!-- --------------------- popular books by sub category ---------------- -->


    <mat-form-field class="mat" style="margin-left:40%;width: 25%;margin-top: 10%">
        <mat-label style="font-weight: bold;">Choose Category</mat-label>
        <select matNativeControl required (change)="selectChangeHandler($event)">
            <option></option>
            <option *ngFor="let item of categories" [value]="item.boId">{{item.myanmarName}}({{item.engName}})</option>
        </select>

    </mat-form-field>

    <div id="chart2" style="margin-left:5%;">
        <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [dataLabels]="chartOptions4.dataLabels"
            [plotOptions]="chartOptions4.plotOptions" [yaxis]="chartOptions4.yaxis" [xaxis]="chartOptions4.xaxis"
            [legend]="chartOptions4.legend" [colors]="chartOptions4.colors" [grid]="chartOptions4.grid"></apx-chart>
    </div>

    <p style="text-decoration: underline;margin-left:14.5%;display: none;" (click)="myFunction4()" id="status4">
        {{status4}}
    </p>

    <div style="margin-left:10%;display: none;max-height:500px;margin-bottom: 20%;" id="mydiv4">
        <mat-form-field color="accent" style="margin-left: 5%;">
            <input matInput [matDatepicker]="picker7" placeholder="From" [(ngModel)]="popularCategoryStartDate">
            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
            <mat-datepicker #picker7></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent">
            <input matInput [matDatepicker]="picker8" placeholder="To" [(ngModel)]="popularCategoryEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
            <mat-datepicker #picker8 color="primary"></mat-datepicker>
        </mat-form-field>
        <i style="font-size: 28px;margin-left:3%;margin-top:1.3%; color: blue;" class="fa"
            (click)="exportPopularBooksBySubCategory()">&#xf1c3;</i>
        <form class="example" action="/action_page.php" style="margin:auto;width:90%">
            <div style="max-width: 300px;">
                <span class="badge list test" id="count4">Count</span>
                <br>

                <input type="text" placeholder="Search.." name="search2" [(ngModel)]="popularCategoryTerm">
                <button type="submit" (click)="search4()"><i class="fa fa-search"></i></button>
            </div>
            <div style="margin-top: 7%;height: 500px;overflow-y: auto;width:90%;overflow-x:auto;">
                <table class="table-striped table-condensed table-hover tblborder" id="myTable4">
                    <thead>
                        <tr id="mytitle3">
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">BookTitle </th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">class No.</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Accession No.</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Sub Category</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">State</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Created Date</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Size</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Download Approval</th>

                        </tr>
                    </thead>
                    <tbody id="mytbody4">
                    </tbody>
                    <tbody>
                        <tr *ngFor="let obj of books4">
                            <td style="width: 10%;text-align: left;">{{obj.title}}
                            </td>
                            <td style="width: 10%;text-align: left;">{{obj.callNo}}
                            </td>
                            <td style="width: 10%;text-align: left;">{{obj.accessionNo}}</td>
                            <td style="width: 10%;text-align: left;">{{obj.subCategory.myanmarName}}</td>
                            <td style="color: blue;" style="width: 10%;text-align: left;color: blue;">{{obj.state}}</td>
                            <td style="width: 10%;text-align: left;"> {{obj.createdDate}}</td>
                            <td style="width: 10%;text-align: left;">{{obj.size}}</td>
                            <td style="width: 10%;text-align: left;">
                                <input style="text-align: center;" type="checkbox">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top: 3%;margin-left: 40%;">
                <span id="firstPage4" style="text-decoration: underline;" (click)="first4()"></span> &nbsp;&nbsp;<i
                    style="font-size:14px" class="fa" id="icon7">&#xf101;</i>
                <span id="next4" style="text-decoration: underline;" (click)="next4()">&nbsp;&nbsp; Next &nbsp;&nbsp;
                </span><i style="font-size:14px" class="fa" id="icon8">&#xf101;</i>
                &nbsp;&nbsp; <span id="lastPage4" style="text-decoration: underline;" (click)="last4()"></span>
            </div>
        </form>
    </div>

        <!-- --------------------- popular books by sub category ---------------- -->

    <!-- ---------------------------------- books by category ------------------------------------------------------------- -->

    <div id="chart2" style="margin-left:5%;margin-top: auto;">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [dataLabels]="chartOptions2.dataLabels"
            [plotOptions]="chartOptions2.plotOptions" [yaxis]="chartOptions2.yaxis" [xaxis]="chartOptions2.xaxis"
            [legend]="chartOptions2.legend" [colors]="chartOptions2.colors" [grid]="chartOptions2.grid"></apx-chart>
    </div>

    <p style="text-decoration: underline;margin-left:14.5%;display: none;" (click)="myFunction2()" id="status2">
        {{status2}}
    </p>

    <div style="margin-left:10%;display: none;max-height:500px;" id="mydiv2">
        <mat-form-field color="accent" style="margin-left: 5%;">
            <input matInput [matDatepicker]="picker3" placeholder="From" [(ngModel)]="categoryStartDate">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent">
            <input matInput [matDatepicker]="picker4" placeholder="To" [(ngModel)]="categoryEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4 color="primary"></mat-datepicker>
        </mat-form-field>
        <i style="font-size: 28px;margin-left:3%;margin-top:1.3%; color: blue;" class="fa"
            (click)="exportCategoryBooks()">&#xf1c3;</i>
        <form class="example" action="/action_page.php" style="margin:auto;width:90%">
            <div style="max-width: 300px;">
                <span class="badge list test" id="count2">Count</span>
                <br>

                <input type="text" placeholder="Search.." name="search2" [(ngModel)]="categoryTerm">
                <button type="submit" (click)="search2()"><i class="fa fa-search"></i></button>
            </div>
            <div style="margin-top: 7%;height: 500px;overflow-y: auto;width:90%;overflow-x:auto;">
                <table class="table-striped table-condensed table-hover tblborder" id="myTable2">
                    <thead>
                        <tr id="mytitle4">
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">BookTitle </th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">class No.</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Accession No.</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Sub Category</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">State</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Created Date</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Size</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Download Approval</th>

                        </tr>
                    </thead>
                    <tbody id="mytbody2">
                    </tbody>
                    <tbody>
                        <tr *ngFor="let obj of books2">
                            <td style="width: 10%;text-align: left;">{{obj.title}}
                            </td>
                            <td style="width: 10%;text-align: left;">{{obj.callNo}}
                            </td>
                            <td style="width: 10%;text-align: left;">{{obj.accessionNo}}</td>
                            <td style="width: 10%;text-align: left;">{{obj.subCategory.myanmarName}}</td>
                            <td style="color: blue;" style="width: 10%;text-align: left;color: blue;">{{obj.state}}</td>
                            <td style="width: 10%;text-align: left;"> {{obj.createdDate}}</td>
                            <td style="width: 10%;text-align: left;">{{obj.size}}</td>
                            <td style="width: 10%;text-align: left;">
                                <input style="text-align: center;" type="checkbox">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top: 3%;margin-left: 40%;">
                <span id="firstPage2" style="text-decoration: underline;" (click)="first2()"></span> &nbsp;&nbsp;<i
                    style="font-size:14px" class="fa" id="icon3">&#xf101;</i>
                <span id="next2" style="text-decoration: underline;" (click)="next2()">&nbsp;&nbsp; Next &nbsp;&nbsp;
                </span><i style="font-size:14px" class="fa" id="icon4">&#xf101;</i>
                &nbsp;&nbsp; <span id="lastPage2" style="text-decoration: underline;" (click)="last2()"></span>
            </div>
        </form>
    </div>

    <!-- ---------------------  books by category ---------------- -->

</div>