<app-home></app-home>
<div style="margin-top: 2%;">
    <mat-label style="margin-left:20%;color: blue;font-size: 20px;"> Book Entries By Each Librarian</mat-label>
</div>
<div class="content">

    <div *ngIf="loading == true" style="margin-left: 25%;" class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div style="margin-left: 38%;display: none;" class="lds-default" id="loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend" [colors]="chartOptions.colors" [grid]="chartOptions.grid"></apx-chart>
    </div>
    <div style="margin-left:10%;display: none;" id="mydiv">


        <form class="example" action="/action_page.php" style="margin:auto;width:90%">
            <div style="max-width: 300px;">
                <span class="badge list test" id="count">Count</span>
                <br>

                <input type="text" placeholder="Search.." name="search2" [(ngModel)]="term">
                <button type="submit" (click)="search()"><i class="fa fa-search"></i></button>
            </div>
            <div style="height: 500px;overflow-y: auto;width:90%;overflow-x:auto;margin-top: 7%;">
                <table class="table-striped table-condensed table-hover tblborder"id="myTable">
                    <thead>
                        <tr>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">BookTitle </th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Accession No</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">State</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Created Date</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Size</th>
                            <th style="width: 10%;text-align: left;background-color: #2196F3;">Download Approval</th>
                        </tr>
                    </thead>
                    <tbody id="mytbody">
                    </tbody>
                </table>
            </div>
        </form>







    </div>
</div>