.card-container.card {
  max-width: 350px;
  max-height: 350px;
  padding: 4px 20px 20px 20px;
  margin: 30px auto 0;
  border-radius: 20px;
}
.header-title{
  margin-top:30px;
}
.col-md-12 {
  margin-bottom: 20px;
}
.cardview {
  padding: 30px 12px 5px 12px;
  border-radius: 2px;
  overflow-x: hidden;
}
nav[_ngcontent-gxc-c290] {
  float: left;
  width: 16%;
  height: 100%;
  background: #def;
  margin-left: 0px !important;
}
.navbar {
  margin-bottom: 0px !important;
}

.tblborder th {
  border: 2px solid #fff;
  border-left: none;
  background-color: #1569C7;
  white-space: nowrap;
  font-weight: bold;
  color: white;
  text-align: center;
   font-size: 15px !important;
}
.tblborder td{
  text-align: left;
   font-size: 14px !important;
}