

li a {
  display: block;
  color: blue;
  padding: 10px;
  text-decoration: none;
}
 
li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  color: black;
}

nav {
  float: left;
  width: 16%;
  height: 100%;
  background: #def;
  margin-left: 0px !important;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

div{
  margin-left: 30%;
}

svg{
    margin-left: 3%;
}

i {
  margin-left: 3%;
}

