

li a {
  display: block;
  color: blue;
  padding: 10px;
  text-decoration: none;
}
 
li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  color: black;
}

nav {
  float: left;
  width: 16%;
  height: 4000px;
  background: #def;
  margin-left: 0px !important;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.content {
  margin-left: 14%;
  width: 84%;
}

div{
  margin-left: 30%;
}

svg{
    margin-left: 3%;
}

i {
  margin-left: 3%;
}




li i:hover:not(.active) {
  color: black;
}

li i.active {
  background-color: #4CAF50;
  color: white;
}

li i {
  color: blue;
}

.test:hover:not(.active) {
  color: black;
}

.test.active {
  background-color: #4CAF50;
  color: white;
}

.test {
  color: blue;
}

li{
   background-color: #EBF4FA;
   
}


td i:hover:not(.active) {
  color: black;
}

td i.active {
  background-color: #4CAF50;
  color: white;
}

td i {
  color: blue;
}

td{
   background-color: #EBF4FA;
   
}
 

.content {
  margin-left: 14%;
  width: 84%;
}

div {
    margin-top: 20px;
    margin-left: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat{
width: 20%;
}

.file-select-button, .file-name {
  display: inline-block;
  margin: 8px;
}


.responsive {
  width: 100%;
  height: auto;
}

.list {
   background-color:blue;
}

.list:hover:not(.active) {
  color: black;
}

.list.active {
  background-color: #4CAF50;
  color: white;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.border1 {
  border: 1px solid rgb(220, 211, 211);

}

mat-form-field {
  margin-right: 12px;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


.button {
  border: none;
  color: white;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  max-width: 200px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid white;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid white;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}







h4:hover {
  color: blue;
}

.lds-roller {
  position: fixed;
  width: 70px;
  height: 70px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: blue;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





.lds-default {
  position: fixed;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: blue;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}



